body{
    background-color: #00ffbf;
    background: url(/double-bubble-dark.png) repeate 0 0;
    text-align: center;
}
.links{
    display: run-in;
    margin: auto;
    /* align-items: center; */

}
p{
    font-family: 'Playfair Display', serif;
}
.nope{
 height: 100px;
 width: 100px;   
 margin-left: auto;
 margin-right: auto;
 padding: 10px;
}
.shown{
    opacity: 0.0;
}
.me{
    height: 300px;
}
.shown:hover{

    opacity: 1.0;
    color: slateblue;
    
}
@media only screen and (max-width: 320px){
    .shown{
        font-size: 20px;
    }
}
.head{
    font-family: 'Playfair Display', serif;
}