html {
    scroll-behavior: smooth;
  }
body{
    background-color: #00ffbf;
    background: url(/double-bubble-dark.png) repeate 0 0;
    text-align: center;
}
.links{
    display: run-in;
    margin: auto;
    /* align-items: center; */

}
p{
    font-family: 'Playfair Display', serif;
}
.tooltip {
    position: inherit;
    display: inline-block ;
    font-family: 'Playfair Display', serif;
    /* border-bottom: 1px dotted black;If you want dots under the hoverable text */
  }
  .tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 0%;
    margin-left: 0px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  .tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    opacity: 1;
  }
.nope{
 height: 100px;
 width: 100px;   
 margin-left: auto;
 margin-right: auto;
 padding: 10px;
}
.shown{
    opacity: 0.0;
}
.me{
    height: 300px;
}
.shown:hover{

    opacity: 1.0;
    color: slateblue;
    
}
@media only screen and (max-width: 320px){
    .shown{
        font-size: 20px;
    }
}
.head{
    font-family: 'Playfair Display', serif;
}